<div id="wheel">
  <canvas id="wheel-canvas" width="300" height="300"></canvas>
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Your Prize 🏆</p>
        <button id="close-modal" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
<!--         <button class="button is-success">Save changes</button>
        <button class="button">Cancel</button> -->
      </footer>
    </div>
  </div>
</div>

<script>
// TODO: insert data
var data = {"4046826467":["SUPER COOL CANDY ME","HERBAL CANDY SACHET"],"277787582":["PRE SCHOOL GOAT MILK FORMULA 900G","Baby Milk Powder"]}
var promo_products = data["4046826467"]

console.log(sample(promo_products))
  
function rand(min, max) {
  return Math.random() * (max - min) + min;
}
  
function sample(array) {
  index = Math.floor(Math.random() * array.length)
  return array[index]
}

var color = ['#fbc','#f88','#fbc','#f88','#fbc','#f88', "#fbc", "#f67"];
var label = ["Mystery discount", "Online promo", "😜",  "Mystery discount", "200 ⭐", '50 ⭐', "100 ⭐", "Makeup service"];
var slices = color.length;
var sliceDeg = 360/slices;
var deg = rand(0, 360);
var speed = 0;
var slowDownRand = 0;
var canvas = document.getElementById('wheel-canvas');
var ctx = canvas.getContext('2d');
var width = canvas.width; // size
var center = width/2;      // center
var isStopped = true;
var isStarted = false;
var lock = false;

function deg2rad(deg) {
  return deg * Math.PI/180;
}

function drawSlice(deg, color) {
  ctx.beginPath();
  ctx.fillStyle = color;
  ctx.moveTo(center, center);
  ctx.arc(center, center, width/2, deg2rad(deg), deg2rad(deg+sliceDeg));
  ctx.lineTo(center, center);
  ctx.fill();
}

function drawText(deg, text) {
  ctx.save();
  ctx.translate(center, center);
  ctx.rotate(deg2rad(deg));
  ctx.textAlign = "right";
  ctx.fillStyle = "#fff";
  ctx.font = 'bold 10px sans-serif';
  ctx.fillText(text, 130, 10);
  ctx.restore();
}
  

function drawImg() {
  ctx.clearRect(0, 0, width, width);
  for(var i=0; i<slices; i++){
    drawSlice(deg, color[i]);
    drawText(deg+sliceDeg/2, label[i]);
    deg += sliceDeg;
  }
  ctx.fillStyle = '#800000'
  ctx.fillRect(center - 2, center - width/2, 4, 12)
}
  
function showPrize() {
  var ai = Math.floor(((360 - deg - 90) % 360) / sliceDeg); // deg 2 Array Index
  ai = (slices+ai)%slices; // Fix negative index
  prize = label[ai]
  if (prize == '¯\_(ツ)_/¯') {
    prize = 'Have a great day, try again tomorrow!'
  }
  else if (prize == 'Online promo') {
    prize = '$25 off coupon for online purchase' 
  }
  else if (prize == 'Makeup service') {
    prize = 'Visit your local Watson\'s for a free make-up consultation!'
  }
  else if (prize == 'Mystery discount') {
    prize = '20% off coupon for ' + sample(promo_products)
  }
  else {
    prize = "You won: \n" + prize + '!'
  }
  document.querySelector('.modal-card-body').innerText = prize
  document.querySelector('.modal').classList.add('is-active')
  return
}

(function anim() {
  deg += speed;
  deg %= 360;

  // Increment speed
  if(!isStopped && speed<3){
    speed = speed+2 * 0.1;
  }
  // Decrement Speed
  if(isStopped){
    if(!lock){
      lock = true;
      slowDownRand = rand(0.988, 0.992);
    } 
    speed = speed>0.2 ? speed*=slowDownRand : 0;
  }
  // Stopped!
  if(lock && !speed && isStarted){
    return showPrize()
  }

  drawImg();
  window.requestAnimationFrame(anim);
}());

document.getElementById("wheel-canvas").addEventListener("click", function(){
  isStopped = false;
  isStarted = true;
  setTimeout(function() {
    isStopped = true;
  }, 1000 * Math.random(9,10))
}, false);
</script>
