<html>
  <% include partials/head %>
  <body>
    <main>
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title has-text-light">
              Hero title
            </h1>
          </div>
          <div class="container">
            <% include partials/spin-wheel %>
          </div>
        </div>
      </section>
    </main>

    <footer>
      
    </footer>
  </body>
</html>
