<html>
  <% include partials/head %>
  <body>
    <main>
      <section class="hero">
        <div class="container-centered">
          <div class="container" style="width: 300px;">
            <h1 class="title has-text-light has-text-centered">
              Try your luck!
            </h1>
            <% include partials/spin-wheel %>
          </div>
        </div>
      </section>
    </main>

    <footer>
      
    </footer>
  </body>
</html>
