/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

html {
  background-color: #00a0a0;
}

.container-centered {
  display: flex;
  justify-content: center;
  flex-direction: column;
}